<h3>{{title}} an User</h3>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 well">
            <form [formGroup]="newuserform" (ngSubmit)="saveUserData()">
                <fieldset>
                    <legend>User</legend>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input formControlName="name" [(ngModel)]="users.name" type="text" class="form-control" id="name" required>
                        <div *ngIf="newuserform.controls.name.touched && newuserform.controls.name.errors">
                            <div class="alert alert-danger" *ngIf="newuserform.controls.name.errors.required">
                                Name is required
                            </div>
                        </div>
                    </div>
                    <div class="form-group">                        
                        <label for="email">Email</label>
                        <input formControlName="email" [(ngModel)]="users.email" type="email" class="form-control" id="email" required>
                        <div *ngIf="newuserform.controls.email.touched && newuserform.controls.email.errors">
                            <div class="alert alert-danger" *ngIf="newuserform.controls.email.errors.required">
                                Email is required
                            </div>   
                            <div class="alert alert-danger" *ngIf="!newuserform.controls.email.errors.required && newuserform.controls.email.errors.emailFormatInvalid">
                                Email format is invalid.
                            </div>                         
                        </div>
                        
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone</label>
                        <input formControlName="phone" [(ngModel)]="users.phone" type="text" class="form-control" id="phone">
                    </div>
                </fieldset>
                <fieldset formGroupName="address">
                    <legend>Address</legend> 
                    <div class="form-group">
                        <label for="street">Street</label>
                        <input formControlName="street" [(ngModel)]="address.street" type="text" class="form-control" id="street">
                    </div>
                    <div class="form-group">
                        <label for="street">Suite</label>
                        <input formControlName="suite" [(ngModel)]="address.suite" type="text" class="form-control" id="suite">
                    </div>
                    <div class="form-group">
                        <label for="city">City</label>
                        <input formControlName="city" [(ngModel)]="address.city" type="text" class="form-control" id="city">
                    </div>
                    <div class="form-group">
                        <label for="zipcode">Zipcode</label>
                        <input formControlName="zipcode" [(ngModel)]="address.zipcode" type="text" class="form-control" id="zipcode">
                    </div>
                </fieldset>
                <button class="btn btn-primary" type="submit" [disabled]="!newuserform.valid">{{buttonText}}</button>
            </form>
        </div>
    </div>
</div>